@{
    ViewData["Title"] = "About";
}

@*<h3>@ViewData["Message"]</h3>*@

<div style="padding:30px 15px;" class="col-md-12">
    <h2>@ViewData["Title"]</h2>
    <p>This is a date calculator for 8558 condition for Australia 600 visitor VISA holder which is used for calculating the maximum onshore period or the return date for the restriction of maximum 12 months stay in any 18 month period condition.</p>
    <p>The tool is developed based on the methodology of this <a href="https://www.australiavisa.com/immigration-news/condition-8558-visitor-visas/" target="_blank">artical</a> written by australiavisa.</p>
</div>