@{
    ViewData["Title"] = "Disclaimer";
}

@*<h3>@ViewData["Message"]</h3>*@

<div style="padding:30px 15px;" class="col-md-12">
    <h2>@ViewData["Title"]</h2>
    <p>This is a tool developed by Jing Xu for a good faith of helping people who holds a 600 visitor VISA with 8558 condition.</p>
    <p>The calculation result is just for information and reference only, We are not responsible for any VISA issue caused by the calculation result. Please contact immigration office if you have any question about the VISA condition and related issues.</p>
</div>